node_modules
dist
build
.turbo
.DS_Store
.env
.env.local
.env.*.local
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
apps/weapp/dist
apps/api/dist
packages/shared/dist
*.db
*.tsbuildinfo
.swc
**/.swc/
