PORT=80
CORS_ORIGIN=*
DATABASE_URL=file:/app/data/prod.db
WECHAT_APPID=wx55b029cbbdb2b228
WECHAT_SECRET=
DEEPSEEK_API_KEY=
DEEPSEEK_API_URL=https://api.deepseek.com/chat/completions
DEEPSEEK_MODEL=deepseek-chat
